:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2c2c2c;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #d32323;
  text-decoration: inherit;
}
a:hover {
  color: #b01c1c;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  margin: 0;
  font-size: 2em;
  line-height: 1.1;
  color: #2c2c2c;
}

h2 {
  color: #2c2c2c;
}

h3 {
  color: #2c2c2c;
}
